.container {
  position: relative;
  transform-style: preserve-3d;
  /* border: 3px solid #fff; */
  /* animation: rotate 5s linear infinite; */
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-360deg);
  }
}