@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: transparent;
  --main-darker-color: transparent;
  --card-color: transparent;
  --card-darker-color: transparent;
  --light-color: transparent;
  --text-color: transparent;
  --top-color: transparent;
  --bottom-color: transparent;
}
